.switch {
    vertical-align: middle;
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    margin-top: 15px;
}

.switch input {display:none;}

.switch-label {
    cursor: pointer;
    position: relative;
    display: inline-block;
    top: 5px;
    left: 5px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    box-shadow: 2px 2px 3px 1px rgba(0,0,0,0.6);
}

.slider:before {
    position: absolute;
    z-index: 25;
    content: "";
    height: 20px;
    width: 20px;
    left: 0px;
    bottom: 0px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
